@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/Roboto-Serif.ttf");
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/Roboto-Serif-500.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/Roboto-Serif-600.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/Roboto-Serif-700.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/Roboto-Serif-800.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/Roboto-Serif-900.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Norican";
  src: url("/fonts/Norican-Regular.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf");
}
:root{
	--default-color: #1F7A4F;
	--clr-green-pea: #19613F;
	--clr-saltpan: #F6FAF8;
	--clr-comet: #5E6282;
	--clr-martinique: #3E2E4D;
	--clr-white: #fff;
	--clr-white75: rgba(255,255,255, 0.75);
	--clr-tuatara: #2B2A28;
	--clr-downy: #69D09E;
	--clr-viridian: #3A8A64;
	--clr-viridian1: #388a6466;
	--clr-viridian2: #3a8a6440;
	--clr-viridian3: #4a947140;
	--clr-lightGreen: #8bbaa41c;
	--clr-yellow: #ffd203;
	--clr-arapawa: #0E197A;
	--clr-red-orange: #FF4B26;
	--default-svg-Fill: #1F7A4F;
	--dflt-clr-op8:  #1f7a4fcc;
	--dflt-clr-op7:  #1f7a4fb3;
	--box-shadow: 0px 16px 37px rgba(31, 122, 79, 0.31);
	--box-shadow1: 0px 16px 37px rgba(31, 122, 79, 0.5);
	--box-shadow2: 0px 2px 8px rgba(31, 122, 79, 0.31);
}
body{
	background-color: var(--clr-saltpan);
	font-family: Roboto Serif;
}
.bg-white{
	background-color: var(--clr-white);
}
.color-yellow{
	color: var(--clr-yellow);
}
.color-default{
	color: var(--default-color);
}
.color-green-pea{
	color: var(--clr-green-pea);
}
.bg-default{
	background-color: var(--default-color);
}
.bg-default8{
	background-color: var(--dflt-clr-op8);
}
.bg-lightGreen{
	background-color: var(--clr-lightGreen);
}
.bg-arapawa{
	background-color: var(--clr-arapawa);
}
.default8Shadowed{
	box-shadow: var(--box-shadow2);
}
.bg-default8Shadowed{
	background-color: var(--dflt-clr-op8);
	box-shadow: var(--box-shadow1);
}
.bg-downy{
	background-color: var(--clr-downy);
}
.bg-red-orange{
	background-color: var(--clr-red-orange);
}
.border-radius100{
	border-radius: 100px;
}

.underline-animated {
	background-image: linear-gradient(120deg, var(--clr-viridian3) 0%, var(--clr-viridian3) 100%);
	background-repeat: no-repeat;
	background-size: 100% 0.1em;
	background-position: 0 100%;
	transition: background-size 0.25s ease-in;
}
.underline-animated:hover {
	background-size: 100% 100%;
}
.underline-animated1 {
	background-image: linear-gradient(120deg, var(--clr-viridian3) 0%, var(--clr-viridian3) 100%);
	background-repeat: no-repeat;
	background-size: 100% 0em;
	background-position: 0 100%;
	transition: background-size 0.25s ease-in;
}
.underline-animated1:hover {
	background-size: 100% 100%;
}

.wrapper{
	width: 1254px;
	margin: 0 auto;
}
@media (max-width: 1279.80px) {
  .wrapper, .wrapper1 {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .wrapper1 {
    width: 1254px;
		margin: 0 auto;
  }
}

.navbar{
	padding-top: 12px;
	background-color: transparent;
}
.navMenu, .navMenuItem{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 32px;
}
.navItem{
	position: relative;
	text-decoration: none;
	padding-bottom: 4px;
	display: inline-block;
	white-space: nowrap;
	font-family: Inter;
	font-weight: 600;
	text-shadow: .05rem .01rem .1rem #FFFBFE;
}

@media (min-width: 479.98px) {
	.navAnimation:before, .navAnimation:after {
		content: '';
		position: absolute;
		bottom: 2px;
		left: 0;
		right: 0;
		height: 2px;
		background-color: var(--default-color);
	}
	.navAnimation:before {
		opacity: 0;
		transform: translateY(-8px);
		transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
	}
	.navAnimation:after {
		opacity: 0;
		transform: translateY(4px);
		transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
	}
	.navAnimation:hover:before, .navAnimation:focus:before, .navAnimation:hover:after, .navAnimation:focus:after {
		opacity: 1;
		transform: translateY(0);
	}
	.navAnimation:hover:before, .navAnimation:focus:before {
		transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
	}
	.navAnimation:hover:after, .navAnimation:focus:after {
		transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
	}
	.nav-active{
		border-bottom: 2px solid var(--default-color);
		height: 22.2px;
	}
}

.er-dummy-search-box{
	height: 33px;
	padding: 0!important;
	border: 2px solid #3A8A64!important;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 31px;
	overflow: hidden;
	box-sizing:border-box;
	box-shadow: none;
}
.er-search-form, .er-dummy-search{
	display: flex!important;
	height: 100% !important;
}
.er_search_input_dummy{
	background-color: transparent!important;
	display: flex!important;
	height: 100% !important;
	width: 100%;
	padding-left: 15px;
}
.er_search_button_dummy{
	background-color: var(--clr-viridian)!important;
	color: #fff!important;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px!important;
	height: 100% !important;
	overflow: hidden;
	outline: none;
	border-radius: 0 25px 25px 0;
}
.navItem-home{
  display: block;
}
.navItem1{
	order: 1;
}
.navItem2{
	order: 2;
}
.navItem3{
	order: 3;
}
.navItem4{
	order: 4;
}
.navCamIcon{
	height: clamp(30px, 4vw + 1.4px, 33px);
}
@media only screen and (max-width: 1023.98px) {
	.navMenu, .navMenuItem{
		gap: 16px;
	}
	.er-dummy-search-box{
		width: min(25vw + 8px, 250px)!important;
		border-radius: 25px;
	}
	.er_search_button_dummy{
		width: 35px;
	}
	.navItem-home{
	  display: none;
	}
}
@media only screen and (max-width: 767.98px) {
	.er-dummy-search-box{
		width: min(45vw + 60px, 562px)!important;
		height: 30px;
	}
}
@media only screen and (max-width: 674.98px) {
	.navbar{
		background-image:linear-gradient(rgba(0,0,0, .9), rgba(0,0,0,0));
	}
	.brandLogo{
		filter: invert(1) brightness(2);
	}
	.navItem{
		font-weight: 400;
		color: var(--clr-white);
	}
	.er-dummy-search-box{
		width: 100%!important;
	}
}
@media only screen and (max-width: 479.98px) {
	.navMenu{
		gap: 0;
		padding-left: 16px;
		display: flex;
		justify-content: start;
		justify-items: start;
		margin: 0;
	}
	.navMenuItem{
		gap: 0;
		margin: 0;
		width: 120px;
		display: inline-block;
	}
	.navItem{
		padding: 5px;
		width: 120px;
	}
	.navItem1, .navItem3{
		border-bottom: 2px solid rgba(255, 255, 255, 0.25);;
	}
	.navItem2{
		order: 3;
	}
	.navItem3{
		order: 2;
	}
	.navItem4{
		justify-content: center;
	}
	.er_search_input_dummy{
		width: 100%
	}
}
@media only screen and (max-width: 375.98px) {
	.navMenuItem{
		width: 110px;
	}
	.navMenu{
		padding-left: 5px;
	}
}

.homeHeaderQuote{
	color: #000;
}
.homeHeaderContentContainer{
	padding: 46px 0 0 0;
	width: clamp(350px, 36vw + 250px, 940px);
}
.homeHeaderTag{
	font-family: Roboto Serif;
	font-size: clamp(1.5rem, 3vw + .15rem, 1.938rem);
	color: var(--default-color);
	font-weight: 800;
	line-height: 32px;
	letter-spacing: 0em;
}
.homeHeadingBg{
	width: clamp(50px, 55vw + 5px, 270px);
}
.homeHeaderH1, .instaTag{
	padding: 10px 0;
	font-family: Norican;
	font-size: clamp(3rem, 6vw + .15rem, 3.5rem);
	font-weight: 400;
	line-height: 4rem;
	position: relative;
	z-index: 15;
}
.homeHeroCurveContainer{
	top: 0;
	right: 0;
}
.homeHeroCurve{
	width: clamp(500px, 35vw + 30px, 650px);
	height: auto;
}
@media (min-width : 675px){
	.homeHeaderContainer{
		height: clamp(500px, 35vw + 30px, 650px);
	}
	.homeHeaderQuote{
		display: -webkit-box;
	  -webkit-line-clamp: 5;
	  -webkit-box-orient: vertical;  
	  overflow: hidden;
	}
}
@media (max-width: 1279.98px) {
	.homeHeaderContentContainer{
		width: clamp(350px, 30vw + 200px, 940px);
	}
}
@media (max-width: 1023.98px) {
	.homeHeaderContentContainer{
		background-color: var(--clr-white75);
		width: clamp(350px, 36vw + 250px, 940px);
		border-radius: 35px;
		padding:30px 20px;
		margin-top: 6%;
	}
}
@media (max-width: 674.98px) {
	.homeHeader{
		height: 100%
	}
	.homeHeroCurve{
		height: 140vw;
		width: auto;
	}
	.homeHeaderContentContainer{
		background-color: var(--clr-white75);
		border-radius: 44px;
		padding: 46px 26px;
		margin: 0 auto;
		margin-top: 35vw;
		height: 100%;
		width: 100%;
	}
	.homeHeaderCol1{
		grid-column: span 2 / span 2;
	}
	.homeHeaderCol2{
		grid-column: span 2 / span 2;
	}
	.homeHeroCurveContainer{
		top: -55vw;
	}
	.homeHeroCurvePath{
		transform: translate(20px, 0);
	}
}
@media (max-width: 575.98px) {
	.homeHeroCurve{
		height: 155vw;
	}
	.homeHeroCurveContainer{
		top: -65vw;
	}
	.homeHeroCurvePath{
		transform: translate(40px, 0);
	}
}
@media (max-width: 476.98px) {
	.homeHeroCurve{
		height: 170vw;
	}
	.homeHeroCurveContainer{
		top: -65vw;
	}
	.homeHeroCurvePath{
		transform: translate(60px, 0);
	}
}
@media (max-width: 375.98px) {
	.homeHeroCurve{
		height: 180vw;
	}
	.homeHeroCurveContainer{
		top: -65vw;
	}
	.homeHeroCurvePath{
		transform: translate(50px, 0);
	}
}
.homeHeroCardContainer{
	bottom: 15%;
}
.homeHeroCardContent{
	background-color: #FFFBFE;
	height: 80px;
	width: 220px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px 0 0 12px;
}
.homeHeroLocation{
	background-color: var(--default-color);
	height: 80px;
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0 12px 12px 0;
}
.homeHeroLocationIcon{
	height: 22px;
}
.homeHeroCard{
	width: 300px;
	height: 80px;
	box-shadow: var(--box-shadow1);
	border-radius: 12px;
}
.homeAboutBackground{
	width: 640px;
	opacity: 0.8;
	z-index: 5;
}
.homeAboutImgContaienr{
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 70px;
	z-index: 10;
}
.AboutTag{
	font-family: Roboto Serif;
	font-size: clamp(3rem, 6vw + .15rem, 3.5rem);
	font-weight: 400;
	line-height: 3.7rem;
}
.aboutQuote{
	margin: 54px 0;
	color: #000; 
}
.moreDetailsBtn{
	height: 41px;
	font-family: Roboto;
	font-size: 0.938rem;
	font-weight: 500;
	letter-spacing: 0.1px;
	color: #1C1C1C;
	border-radius: 100px;
}
@media (max-width: 767.98px) {
	.homeAboutImgContaienr{
		height: 100%;
		width: 100%;
		position: absolute;
		top: -35px;
		left: 10px;
		z-index: 10;
	}
	.AboutTag{
		font-weight: 500;
	}
}
.homeTodoSec, .AccommoSec{
	padding-top: 75px;
	padding-top: 75px;
}
.homeTodoCol1{
	min-width: 655px;
	order: 2;
}
.homeTodoCol2{
	order: 1;
}
@media (min-width: 1152px) {
	.homeTodoCol1{
		order: 1;
	}
	.homeTodoCol2{
		width: 42vw;
		order: 2;
	}
	.homeTodoTxtBg{
		min-width: 612px;
		left: 8px;
	}
}
@media (min-width: 1280px) {
	.homeTodoCol2{
		max-width: 599px;
	}
}
@media (max-width: 1151.98px) {
	.homeTodoCol1{
		margin-top: 108px;
	}
	.homeTodoCol2{
		height: 578px;
		width: 100%;
		justify-content: center;
	}
	.homeTodoTxtBg, .homeTodoTxtContainer{
		width: 612px;
	}
}
@media (max-width: 767.98px) {
	.homeTodoCol2{
		height: 578px;
		width: 100%;
		justify-content: center;
	}
 .homeTodoTxtContainer{
		width: 100%;
	}
	.homeTodoTxtBg{
		width: 100%;
	}
}
@media (max-width: 639.98px){
	.homeTodoTxtBg{
		width: 630px;
		transform: rotate(-15deg);
		margin-right: -13%;
	}
}
@media (max-width: 475.98px){
	.homeTodoCol2{
		width: 100%;
	}
}
.homeTodoTag{
	font-family: Norican;
	font-size: clamp(3rem, 6vw + .15rem, 3.5rem);
}
.homeTodoQuote{
	color: #000;
	line-height: 32px;
	display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.homeTodoCardNum{
	font-family: Inter;
	font-size: 12.5rem;
	color: var(--clr-viridian1);
	font-weight: 800;
}
.homeTodoCardNum1{
	top: -110px;
	right: 250px;
}
.homeTodoCardNum2{
	top: 0;
	bottom: 0;
	left: -88px;
}
.homeTodoCardNum3{
	right: 225px;
	bottom: 0;
}
.homeTodoCard{
	background-color: var(--clr-white);
	height: 410px;
	width: 258px;
	border-radius: 23px;
	box-shadow: var(--box-shadow);
}
.homeTodoCard-ImgContainer{
	height: 167px;
	width: 100%;
	border-radius: 8px;
}
.homeTodoCard-Tag{
	font-weight: 800;
	font-size: 	1.063rem;
	line-height: 1.125rem;
	color: var(--clr-viridian);
}
.homeTodoCard-Txt{
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.homeTodoCardBtn{
	height: 35px;
	width: 166px;
	border-radius: 100px;
}
.AccommoTag{
	font-size: clamp(1.7rem, 6vw + .5rem, 3.5rem);
	color: var(--clr-tuatara);
}
.AccommoCard-Container{
	gap: 35px;
}
.AccommoCard{
	width: 100%;
	display: flex;
	justify-content: center;
	justify-content: center;
	align-items: center;
}
.AccommoImgContainer{
	height: 461px;
	width: 100%;
	border-radius: 24px;
}
.AccommoCardTxt{
	background-color: var(--clr-white75);
	width: clamp(182px, 20vw + 10px, 277px);
	font-family: Roboto Serif;
	font-size: clamp(1.563rem, 2vw + .15rem, 2.125rem);
	font-weight: 700;
	line-height: clamp(1.6rem, 3vw + .28rem, 2.25rem);
	text-align: center;
	border-radius: 15px 0px 0px 15px;
	top: clamp(62px, 6vw + 5px, 86px);
}
.AccommoBtn{
	border-radius: 100px;
}
@media (max-width: 1023.98px) {
	.AccommoImgContainer{
		height: 40vw;
	}
}
@media (max-width: 767.98px) {
	.AccommoImgContainer{
		height: 50vw;
	}
}
@media (max-width: 639.98px) {
	.AccommoImgContainer{
		height: 335px;
		width: 283px;
	}
}
.testimonCurve{
	width: 58vw;
}
.testimonImgContentCard{
	background-color: var(--clr-white75);
 	border-radius: 15px;
 	max-width: 508px;
}
.testimonImgContentCardTag{
	font-size: clamp(.625rem, 1.15vw + .1rem, 1.125rem);
}
.testimonImgContentCardTxt{
	font-size: clamp(.9rem, 3vw + .3rem, 3rem);
	line-height: clamp(.95rem, 3vw + .4rem, 3.25rem);
}
.testimonImgContent, .testimonContent{
	min-height: 42.3vw;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-items: center;
	margin: auto 0;
}
.testimonDate{
	color: var(--clr-martinique);
}
.testimonCard{
	padding: 34px;
	padding-right: 68px;
	border: 2px solid var(--dflt-clr-op7);
	border-radius: 10px;
}
.testimonImgContainer{
	height: 68px;
	width: 68px;
}
.testimonTxt {
  color: var(--clr-comet);
  line-height: 1.188rem;
}
.testimonTxt:before {
  color: var(--clr-comet);
  content: open-quote;
  font-size: 1.5rem;}
.testimonTxt:after {
  color: var(--clr-comet);
  content: close-quote;
  font-size: 1.5rem;
}
.testimonTxt{
	display: inline;
}
.testimonUserName{
	padding: 22px 0 11px 0;
	font-family: 'Roboto';
  color: var(--clr-comet);
}
.testimonUserLocation{
  color: var(--clr-comet);}
@media (max-width: 1279.98px) {
	.testimonImgContentCard{
		width: 80%;
		margin-top: -12%;
	}
	.testimonUserName{
		padding: 16px 0 8px 0;
	}
}
@media (max-width: 767.98px){
	.testimonCurve{
		width: 100%;
	}
	.testimonImgContentCard{
		width: 50%;
		margin-top: -12%;
	}
	.testimonImgContent{
		min-height: 76vw;
	}
	.testimonContent{
		height: 100%;
	}
	.testimonUserName{
		padding: 14px 0 4px 0;
	}
}
@media (max-width: 475.98px){
	.testimonImgContentCard{
		width: 60%;
	}
	.testimonImgContainer{
		height: 55px;
		width: 55px;
	}
}
@media (max-width: 375.98px){
	.testimonImgContainer{
		height: 43px;
		width: 43px;
	}
}
.companySecTag{
	font-size: clamp(1.7rem, 3.5vw + .5rem, 3.5rem);
	line-height: clamp(1.78rem, 6vw + .58rem, 3.75rem);
}
.companyLogo{
	height: 19vw;
}
.companyImgContainer{
	width: clamp(145px, 18vw + 10px, 210px);
	height: clamp(50px, 6vw + 4px, 71px);
}
.companyContentContainer{
	/*max-width: 500px;*/
}
@media (max-width: 1023.98px){
	.companyImgContainer{
		width: clamp(100px, 15vw + 8px, 148px);
		height: clamp(34px, 5vw + 3.5px, 55px);
	}
}
@media (max-width: 767.98px){
	.companyImgContainer{
		width: clamp(145px, 18vw + 10px, 210px);
		height: clamp(50px, 6vw + 4px, 71px);
	}
}
@media (max-width: 475.98px){
	.companyImgContainer{
		width: clamp(80px, 24vw + 8px, 148px);
		height: clamp(25px, 8vw + 3px, 55px);
	}
}
.instaBg{
	width: 270px;
}
.instaTxt{
	font-family: Roboto;
	font-size: clamp(1.125rem, 2vw + .3rem, 1.5rem);
	font-weight: 600;
}
.instaCamIcon{
	height: clamp(33px, 4vw + 1.5px, 41px);
}
.InstaImgContainer{
	height: 431px;
	width: 100%;
	border-radius: 24px;
}
@media (max-width: 1023.98px) {
	.InstaImgContainer{
		height: 45vw;
	}
}
@media (max-width: 767.98px) {
	.InstaImgContainer{
		height: 55vw;
		width: 40vw;
	}
}
@media (max-width: 639.98px) {
	.InstaImgContainer{
		height: 335px;
		width: 283px;
	}
}
@media (max-width: 375.98px) {
	.InstaImgContainer{
		height: min(55vw + 150px, 350px);
		width: 100%;
	}
}
.footer {
	height: 387px;
	overflow: hidden;
}
.footerCurveContainer{
	width: 100%;
}
.footerCurveBg{
	width: 100vw;
}
.footerbrandLogo{
	width: 121px;
	height: 73px;
}
.footerLink{
	position: relative;
	padding: 3px 2px;
	display: inline-block;
	font-family: Roboto Serif;
	font-size: 1.125rem;
	font-weight: 500;
	color: var(--clr-green-pea);
	z-index: 10;
}
.footerLink:before {
  content: "";
  background: var(--clr-saltpan);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  transform: scaleX(0);
  animation: 1.4s forwards no-hover-v linear;
  animation-fill-mode: forwards;
  z-index: -1;
}
.footerLink:hover:before,
.footerLink:focus:before {
  animation: .5s forwards hover-v linear;
  animation-fill-mode: forwards;
}
@keyframes hover-v {
  0%{
    transform: scaleX(0);
    height: 3px;
  }
  45%{   
    transform: scaleX(1.05);
    height: 3px;
  }
  55%{height: 3px;}
  100%{
    transform: scaleX(1.05);
    height: 100%;
  }
}
@keyframes no-hover-v {
  0%{
    transform: scaleX(1.05);
    height: 100%;
  }
  45%{height: 3px;}
	55%{   
    transform: scaleX(1.05);
    height: 3px;
    opacity: 1;
  }
  
  100%{
    transform: scaleX(0);
    height: 3px;
    opacity: .02;
  }
}
.footerIconContainer{
	background-color: var(--clr-viridian2);
	height: 59px;
	padding: 8px 0;
}
.footerIcon{
	height: clamp(33px, 4vw + 1.5px, 50px);
	width: 100%;
}
.copyrightTxt{
	font-family: Roboto;
	font-size: clamp(.625rem, 1.5vw + .1rem, 1rem);
	font-weight: 600;
	color: var(--clr-green-pea);
}
@media (max-width: 1535.98px){
	.footerCurveContainer{
		width: 1536px;
		height: 100%;
	}
	.footerCurveBg{
		width: 100%;
	}
}
@media (max-width: 639.98px){
	.footerLink{
		font-size: .688rem;
		font-weight: 700;
	}
}


.headerContentContainer{
	padding: 46px 0 0 0;
	margin-top: 12%;
	width: clamp(350px, 36vw + 250px, 940px);
}
.headerTag{
	font-family: Roboto Serif;
	font-size: clamp(1.5rem, 3vw + .15rem, 1.938rem);
	color: var(--default-color);
	font-weight: 800;
	line-height: 32px;
	letter-spacing: 0em;
}
.headingBg{
	width: clamp(50px, 55vw + 5px, 450px);
}
.headingBgSm{
	width: clamp(50px, 55vw + 5px, 290px);
}
.headerH1{
	padding: 10px 0;
	font-family: Norican;
	font-size: clamp(3rem, 6vw + .15rem, 3.5rem);
	font-weight: 400;
	line-height: 4rem;
	position: relative;
	z-index: 15;
}
.heroCurveContainer{
	top: 0;
	right: 0;
}
.heroCurve{
	width: clamp(500px, 35vw + 30px, 650px);
	height: auto;
}
.headerContainer{
	height: 100%;
}
.headerQuote{
	color: #000;
}
@media(min-width: 1024px){
	.headerQuote{
		text-shadow: .05rem .01rem .1rem #FFFBFE;
	}
}
@media (min-width : 675px){
	.headerContainer{
		height: clamp(500px, 35vw + 130px, 650px);
	}
	.headerQuote{
		display: -webkit-box;
	  -webkit-line-clamp: 5;
	  -webkit-box-orient: vertical;  
	  overflow: hidden;
	}
}
@media (max-width: 1535.98px) {
	.headerContentContainer{
		margin-top: 0;
	}
}
@media (max-width: 1023.98px) {
	.headerContentContainer{
		background-color: var(--clr-white75);
		border-radius: 35px;
		padding:30px 20px;
	}
}
@media (max-width: 674.98px) {
	.header{
		height: 100%
	}
	.heroCurve{
		height: 140vw;
		width: auto;
	}
	.headerContentContainer{
		background-color: var(--clr-white75);
		border-radius: 44px;
		padding: 46px 26px 70px;
		margin: 0 auto;
		margin-top: 35vw;
		height: 100%;
		width: 100%;
	}
	.headerCol1{
		grid-column: span 2 / span 2;
	}
	.headerCol2{
		grid-column: span 2 / span 2;
	}
	.heroCurveContainer{
		top: -55vw;
	}
	.heroCurvePath{
		transform: translate(20px, 0);
	}
}
@media (max-width: 575.98px) {
	.heroCurve{
		height: 155vw;
	}
	.heroCurveContainer{
		top: -65vw;
	}
	.heroCurvePath{
		transform: translate(40px, 0);
	}
}
@media (max-width: 476.98px) {
	.heroCurve{
		height: 170vw;
	}
	.heroCurveContainer{
		top: -65vw;
	}
	.heroCurvePath{
		transform: translate(60px, 0);
	}
}
@media (max-width: 375.98px) {
	.heroCurve{
		height: 180vw;
	}
	.heroCurveContainer{
		top: -65vw;
	}
	.heroCurvePath{
		transform: translate(50px, 0);
	}
}
.boatCard{
	background: var(--clr-white);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
	border-radius: 24px;
	padding: 30px;
}
.boatLogoContainer{
	height: clamp(36px, 4vw + 1.5px, 52px);
	width: clamp(36px, 4vw + 1.5px, 52px);
	border-radius: 100%;
	overflow: hidden;
}
.boatCard h2{
	font-size: 18px;
	font-weight: 500;
}
.boatImgContainer{
	overflow: hidden;
	height: 460px;
	border-radius: 27px;
}
.boatTable th, .boatTable td, .boatTable td p{
	vertical-align: top;
}
.boatCardTxt{
	font-size: 10px;
	display: flex;
	flex-wrap: wrap;
}
.timeTxt{
	font-size: 12px;
}
.boatCardImgContainer{
	height: clamp(27px, 4vw + 1px, 36px);;
	width: clamp(27px, 4vw + 1px, 36px);;
	border-radius: 100px;
	overflow: hidden;
}
.boatCardReviewTxt{
	font-family: Roboto;
	font-style: italic;
	font-size: clamp(0.5rem, 1.1vw + .1rem, 0.8125rem);
	font-weight: 400;
	font-style: italic;
}
.boatCardReviewNum{
	background-color: var(--clr-viridian3);
	font-size: clamp(0.5rem, 1.1vw + .1rem, 0.8125rem);
	border-radius: 26px;
}
.boatCardReviewAmount{
	font-size: 8px;
}
@media (max-width : 767.98px){
	.boatImgContainer{
		height: clamp(50px, 55vw + 5px, 450px);
	}
}

.todoBannerImgContainer{
	width: 100%;
	height: clamp(150px, 45vw + 5px, 560px);
	border-radius: 24px;
}
.todoPlanCurve{
	width:  clamp(200px, 50vw + 25px, 1250px);
}
.defaultSecHeader{
	font-size: 34px;
}
.defaultCardContainer{
	gap: 35px;
}
.defaultCard{
	width: 100%;
	background-color: var(--clr-white);
	overflow: hidden;
	border-radius: 24px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
	transition: all 0.3s;
}
.defaultCard:hover{
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.defaultCardImgContainer{
	height: clamp(230px, 20vw + 55px, 350px);
	width: 100%;
}
.defaultCardTxt{
	color: #000;
	margin: 0;
	display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.defaultCardTxt p{
	margin: 0!important;
	color: #000;
}
.defaultCardBtn{
	background-color: var(--clr-downy);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
}
@media (max-width: 1023.98px) {
	.defaultSecHeader{
		font-size: 30px;
	}
	.defaultCardBtn{
		font-size: 12px;
	}
}
@media (max-width: 575.98px) {
	.defaultCardContainer{
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
	.defaultCard{
		max-width: 283px;
	}
}
@media (min-width: 1024px) {
	.todoOverviewHeader .headerH1Container, .accomodationOverviewHeader .headerH1Container{
		margin-bottom: 15%;
	}
}
@media (min-width: 768px) {
	.todoOverviewHeader .headerContentContainer, .accomodationOverviewHeader .headerH1Container{
		margin-top: 0;
	}
}
.aboutImgGrid{
	display: grid;
	grid-auto-rows: clamp(250px, 25vw + 55px, 350px);
	grid-template-columns: 60% auto;
	grid-gap: clamp(10px, 1vw + 0.5rem, 26px);
}
.aboutImgContainer{
	overflow: hidden;
	border-radius: 46px;
}
.AboutusTag{
	font-size: 44px;
}
@media (max-width: 767.98px) {
	.aboutImgGrid{
		display: grid;
		grid-auto-rows: clamp(250px, 55vw + 55px, 400px);
		grid-template-columns: 50% 50%;
		grid-gap: clamp(10px, 1vw + 0.5rem, 26px);
		grid-gap: 0;
	}
	.aboutImgContainer{
		border-radius: 0;
	}
}