---
// Style Imports
import '../styles/global.css';
import '../styles/styles.css';
// Component Imports
import Navbar from '../components/Navbar.astro';
import Home from '../components/Home.astro';
import Footer from '../components/Footer.astro';
// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
// const path = Astro.site.pathname;

let title = 'Home | NusaCeningan';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" href="/images/nusa-ceningan-favicon.svg" />
</head>
<body class="overflow-x-hidden">
	<div class="overflow-hidden">
		<Navbar />
		<main>
			<Home />
		</main>
		<Footer />
	</div>

	<script>
		const navLink = document.querySelector('.navItem-home')
		navLink.classList.add('nav-active');
		navLink.classList.remove('navAnimation');

		var h = document.querySelectorAll('.markdown p a');
		 for (var i = 0; i < h.length; i++) {
	        if (h[i].classList.length === 0) {
	            h[i].classList.add("underline-animated");
	        }
	    }

		(function() {
		    var id = 'c7a663ac-d1e9-11ec-a915-0242ac130002';
		    var ci_search = document.createElement('script');
		    ci_search.type = 'text/javascript';
		    ci_search.async = true;
		    ci_search.src = 'https://cse.expertrec.com/api/js/ci_common.js?id=' + id;
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(ci_search, s);
		})();
	</script>
</body>
</html>
