---
// Style Imports
import '../styles/global.css';
import '../styles/styles.css';
// Component Imports
import Navbar from '../components/Navbar.astro';
import Home from '../components/Home.astro';
import Footer from '../components/Footer.astro';

let title = 'Todo | NusaCeningan';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" href="/images/nusa-ceningan-favicon.svg" />
</head>
<body>
	<div class="overflow-x-hidden">
		<Navbar />
		<main>
			<div class="header">
		    	<div class="wrapper1 z-30 mx-auto grid sm:grid-cols-2 headerContainer">
	    			<div class="col-span-1 sm:col-span-1 px-2 mx-auto z-30 order-2 sm:order-1 my-auto headerCol1">
	    				<div class="headerContentContainer">
			    			<div class="relative overflow-hidden">
			    				<img class="absolute top-5 z-10 h-auto todoHeadingBg" src="images/txtBg.svg" alt="Background-curve">
			    				<h1 class="headerH1">Scuba Dive</h1>
			    			</div>
			    			<p class="text-lg leading-8 sm:mb-4 headerQuote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam pellentesque id lacus, id vel elit, magna varius netus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam pellentesque id lacus, id vel elit, magna varius netus.</p>
	    				</div>
	    			</div>

			    	<div class="col-span-1 sm:col-span-1 order-1 sm:order-2 headerCol2">
		    			<div class="absolute heroCurveContainer">
							<div class="relative">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 622.7 680.5" class="overflow-hidden right-0 heroCurve">
								    <defs>
								        <clipPath id="heroImgFrame">
								            <path class="heroCurvePath" d="M623,0V516.7c-59.6,75.6-130.3,149.2-225.6,162-103.8,14-199.5-56.3-273-131.3S-7.6,377.6,1.1,274.5C9.4,176.8,87.3,103,166.7,46,205.4,18.2,249.3,6.3,295.4,0Z" transform="translate(-0.3)"/>
								        </clipPath>
								    </defs>
								    <image class="h-full object-cover overflow-hidden" xlink:href="images/tandya-rachmat-mUZ7gUmr0oU-unsplash.webp" alt="Island-image" clip-path="url(#heroImgFrame)"></image>
								</svg>
							</div>
				    	</div>
					</div>
		    	</div>
		    </div>

		    <div class="wrapper mx-auto px-8 lg:px-2 py-10">
				<div class="overflow-hidden todoBannerImgContainer" role="banner">
					<img class="w-full h-full object-cover" src="images/jt-ortgbBS6dU8-unsplash.webp" alt="banner-image">
				</div>

				<div class="px-0 lg:px-6 py-12 mt-16">
					<p class="text-lg leading-8 whitespace-pre-line">
						D’pasih Ceningan is one of the well-located <a href="#" class="underline-animated">accommodations</a> in Nusa Lembongan among other accommodations. This accommodation started its journey in September 2019, so everything looks new and fresh. It is a fully family-owned location and managed by a humble guy named Wayan Sulistiawan.

						Travelers especially love this accommodation for viewing the sunset right from this accommodation and infinity pool. It is situated in one of the best locations of Nusa Ceningan. It is a beachfront property and you can get access directly to the beach where you can enjoy stunning sunset and sunrise. You can also view the beach from the room.

						Rooms are good for two people and a baby. It has enough space. Every room has wooden furniture. They have only one wooden sitting stool to sit and work on the table. And a chair in the balcony to sit and chill with the joyful vibe. You can also take an extra chair by asking the authority if you like to sit and talk with your Travel mate. The design of the room is very simple and clean.

						D’pasih Ceningan is one of the well-located accommodations in Nusa Lembongan among other accommodations. This accommodation started its journey in September 2019, so everything looks new and fresh. It is a fully family-owned location and managed by a humble guy named Wayan Sulistiawan.

						Travelers especially love this accommodation for viewing the sunset right from this accommodation and infinity pool. It is situated in one of the best locations of Nusa Ceningan. It is a beachfront property and you can get access directly to the beach where you can enjoy stunning sunset and sunrise. You can also view the beach from the room.

						Rooms are good for two people and a baby. It has enough space. Every room has wooden furniture. They have only one wooden sitting stool to sit and work on the table. And a chair in the balcony to sit and chill with the joyful vibe. You can also take an extra chair by asking the authority if you like to sit and talk with your Travel mate. The design of the room is very simple and clean.
					</p>
				</div>
		    </div>

		    <div class="wrapper flex flex-wrap mx-auto">
				<div class="px-8 z-20">
					<h2 class="font-semibold todoPlanTag">Perfect Holiday Plan</h2>
					<p class="text-lg leading-8 todoPlanTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam pellentesque id lacus, id vel elit, magna varius netus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam pellentesque id lacus, id vel elit, magna varius netus. </p>
				</div>
	    		<div class="hidden lg:flex w-1/12 flex items-center justify-center my-auto z-10">
		    		<div class="relative flex items-center">
						<div class="absolute right-1.5 z-10 todoPlanCurve">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 833.4 788.3"><path d="M267.4,49.9C121.5,114.2,84.1,276.1,45.2,406.3,7,534.3-38.8,682.7,56.5,756.4c91.9,71.1,259,6.2,401.9-30.5,120.6-31.1,254.3-61.8,329-157.4,72-92.1,46.2-193.8,12.1-279-28.4-71.1-109-220-184.6-254.1C501.6-15.6,408.2-12.1,267.4,49.9Z" fill="#4a9471"/></svg>
						</div>
			    	</div>
		    	</div>
		    </div>

		    <div class="wrapper overflow-x-hidden mx-auto py-36">
			    <div class="grid lg:grid-cols-3 justify-items-center px-8 mx-auto defaultCardContainer">
		    		<div class="defaultCard">
	    				<div class="overflow-hidden defaultCardImgContainer">
		    				<img class="w-full h-full object-cover" src="images/unsplash_ortgbBS6dU8.webp" alt="diving-image">
		    			</div>
		    			<div class="px-4 pt-6 pb-5 lg:pb-10 ToDoCard-Content">
							<div class="mb-2 text-lg font-bold color-green-pea">
								<a href="#" >Scubba Diving</a>
							</div>
							<div class="text-xs lg:text-sm leading-3 md:leading-4 mb-2">
								<a href="#" class="underline-animated1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam pellentesque id lacus, id vel elit, magna varius netus.</a>
							</div>
							<div class="flex items-center gap-1 md:gap-2.5 mb-5">
	    						<div class="text-xs font-bold tracking-widest color-yellow">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
	    						<p class="text-xs font-semibold">(19)</p>
		    				</div>
							<div class="flex justify-center">
								<a href="#" class="font-medium px-5 py-2 cursor-pointer defaultCardBtn">More Details 
				    				<img class="h-3.5 ml-2.5" src="images/playbtn.svg" alt="playbutton-icon">
				    			</a>
							</div>
						</div>
		    		</div>
		    		<div class="defaultCard">
	    				<div class="overflow-hidden defaultCardImgContainer">
		    				<img class="w-full h-full object-cover" src="images/unsplash_PJ3qKeHQxEs.webp" alt="Villa-image">
		    			</div>
		    			<div class="px-4 pt-6 pb-5 lg:pb-10 ToDoCard-Content">
							<div class="mb-2 text-lg font-bold color-green-pea">
								<a href="#" >Scubba Diving</a>
							</div>
							<div class="text-xs lg:text-sm leading-3 md:leading-4 mb-2">
								<a href="#" class="underline-animated1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam pellentesque id lacus, id vel elit, magna varius netus.</a>
							</div>
							<div class="flex items-center gap-1 md:gap-2.5 mb-5">
	    						<div class="text-xs font-bold tracking-widest color-yellow">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
	    						<p class="text-xs font-semibold">(19)</p>
		    				</div>
							<div class="flex justify-center">
								<a href="#" class="font-medium px-5 py-2 cursor-pointer defaultCardBtn">More Details 
				    				<img class="h-3.5 ml-2.5" src="images/playbtn.svg" alt="playbutton-icon">
				    			</a>
							</div>
						</div>
		    		</div>
		    		<div class="defaultCard">
	    				<div class="overflow-hidden defaultCardImgContainer">
		    				<img class="w-full h-full object-cover" src="images/unsplash_d1YNmd_2uk0.webp" alt="mountain-and-sea-image">
		    			</div>
		    			<div class="px-4 pt-6 pb-5 lg:pb-10 ToDoCard-Content">
							<div class="mb-2 text-lg font-bold color-green-pea">
								<a href="#" >Scubba Diving</a>
							</div>
							<div class="text-xs lg:text-sm leading-3 md:leading-4 mb-2">
								<a href="#" class="underline-animated1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam pellentesque id lacus, id vel elit, magna varius netus.</a>
							</div>
							<div class="flex items-center gap-1 md:gap-2.5 mb-5">
	    						<div class="text-xs font-bold tracking-widest color-yellow">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
	    						<p class="text-xs font-semibold">(19)</p>
		    				</div>
							<div class="flex justify-center">
								<a href="#" class="font-medium px-5 py-2 cursor-pointer defaultCardBtn">More Details 
				    				<img class="h-3.5 ml-2.5" src="images/playbtn.svg" alt="playbutton-icon">
				    			</a>
							</div>
						</div>
		    		</div>
			    </div>
		    </div>
		</main>
		<Footer />
	</div>
	<script>
		const activePage = window.location.pathname;
		const navLinks = document.querySelectorAll('.navMenuItem a').forEach(link => {
		  if(link.href.includes(`${activePage}`)){
		    link.classList.add('nav-active');
		    link.classList.remove('navAnimation');
		  }
		})
	</script>
</body>
</html>
