---
import '../styles/global.css';
import '../styles/styles.css';

import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

let title = 'Todo | NusaCeningan';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" href="/images/nusa-ceningan-favicon.svg" />
</head>
<body class="overflow-x-hidden">
	<div class="overflow-hidden">
		<Navbar />
			<main>
				<slot />
			</main>
		<Footer />
	</div>
	<script>
		const activePage = window.location.pathname;
		const navLinks = document.querySelectorAll('.navMenuItem a').forEach(link => {
		  if(link.href.includes(`${activePage}`)){
		    link.classList.add('nav-active');
		    link.classList.remove('navAnimation');
		  }
		})
	</script>
</body>
</html>
