---
import '../styles/global.css';
import '../styles/styles.css';

import todoDetails from '../pages/todoDetails.astro';
import { Markdown } from 'astro/components';

export interface Props {
  post: any;
}
const { post } = Astro.props;

const url = `${import.meta.env.Assets_URL}`;

---

<div class="header">
	<div class="wrapper1 z-30 mx-auto grid sm:grid-cols-2 headerContainer">
		<div class="px-8 lg:px-3 mx-auto z-30 order-2 sm:order-1 my-auto headerCol1">
			<div class="headerContentContainer">
    			<div class="relative overflow-y-hidden w-full lg:w-10/12 xl:w-7/12 headerH1Container">
    				<img class="absolute top-5 z-10 h-auto headingBgSm" src="images/txtBg.svg" alt="Background-curve">
    				<h1 class="headerH1">{post.Title}</h1>
    			</div>
    			<div class="text-lg leading-8 sm:mb-4 prose prose-a:no-underline prose-a:font-normal max-w-none headerQuote">
					<Markdown>{post.Description}</Markdown>
				</div>
			</div>
		</div>

    	<div class="order-1 sm:order-2 headerCol2">
			<div class="absolute heroCurveContainer">
				<div class="relative">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 622.7 680.5" class="overflow-hidden right-0 heroCurve">
					    <defs>
					        <clipPath id="heroImgFrame">
					            <path class="heroCurvePath" d="M623,0V516.7c-59.6,75.6-130.3,149.2-225.6,162-103.8,14-199.5-56.3-273-131.3S-7.6,377.6,1.1,274.5C9.4,176.8,87.3,103,166.7,46,205.4,18.2,249.3,6.3,295.4,0Z" transform="translate(-0.3)"/>
					        </clipPath>
					    </defs>
					    <image class="h-full object-cover overflow-hidden" xlink:href={url + post.Hero_image.data.attributes.url} alt={post.Hero_image.data.attributes.alternativeText} clip-path="url(#heroImgFrame)"></image>
					</svg>
				</div>
	    	</div>
		</div>
	</div>
</div>